
body {
  background-color: #000;  
  color: #f5f5f5;          
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: #4dabf7;          
}

h1, h2, h3, h4, h5 {
  color: #ffffff;          
}